@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Suwannaphum:wght@100;300;400;700;900&display=swap");

/** icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/** bootstrap */
@import url("../../bootstrap/css/bootstrap.css");

/** css  */
/** hor */
@import url("theme.css");
@import url("data.css");
/** muslim */

/** kim hak */

/** punleu */

/** vuthy */


:root {
	--english: "Source Sans 3", sans-serif;
	--khmer: "Suwannaphum", serif;
	--primary: #591fce;
	--secondary: #bab5f6;
	--success: #6bba62;
	--info: #63c8ff;
	--warning: #ffcc00;
	--danger: #f7374f;
	--light: #ffff;
	--dark: #1a1a1d;
}

html,
body {
	font-family: var(--english), var(--khmer);
	font-size: 18px;
}

.header-link > li > a {
	color: var(--dark) !important;
	&:hover,
	&:focus,
	&:active,
	&.active,
	&.show {
		color: var(--bs-primary) !important;
	}
}

.carousel-inner {
	width: 100%;
	overflow: hidden;
	border-radius: 40px;
}

.carousel-item {
	width: 100%;
	height: 100%;
}

.carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	aspect-ratio: 16 / 9;
}

/** counter */

.counter-size {
	width: 100px !important;
	height: 100px !important;
}

.counter {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	vertical-align: middle;
	&::before {
		content: '+';
		margin-right: 5px;
	}
}

.counter-text > 
.col-12 .card,
.col-lg-4 .card {
	color: var(--light);
	& .card-footer {
		color: var(--warning);
		& p {
			font-size: clamp(1rem, 1vw + 0.6rem , 3rem);
		}
	}
}


/** media screen */

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 992px) {
	
}